.changedDivs {    
    width:  100%;
    height:  600px;
}

#welcome
{
    background-image: url('welcome.jpg');
	background-repeat: no-repeat;	
    background-size: 100% 100%;
    
}

#register
{
    background-color:gold
}

#login
{
    background-color:salmon
}

#about
{
    background-color:yellowgreen
}

#settings
{
    background-color:mediumslateblue
}

